POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=postgres
MEDIA_DB=media_db
MEDIA_DB_USER=media_user
MEDIA_DB_PASSWORD=media_password
NOTIFICATION_DB=notification_db
NOTIFICATION_DB_USER=notification_user
NOTIFICATION_DB_PASSWORD=notification_password
RABBITMQ_USER=media
RABBITMQ_PASSWORD=media
GATEWAY_PORT=8080
GATEWAY_CPUS=0.10
GATEWAY_MEMORY=64m
MEDIA_SERVICE_CPUS=0.65
MEDIA_SERVICE_MEMORY=768m
TRANSCODER_SERVICE_CPUS=1.00
TRANSCODER_SERVICE_MEMORY=896m
NOTIFICATION_SERVICE_CPUS=0.25
NOTIFICATION_SERVICE_MEMORY=320m
RENDITION_POOL_SIZE=8
